<footer class="footer {% if site.scrollappear_enabled %}scrollappear{% endif %}">

	<ul class="footer-social">
		<li>
			<a href="https://twitter.com/Verassitnh" target="_blank" title="Twitter">
				Twitter
			</a>
		</li>
		<li>
			<a href="https://github.com/Verassitnh" target="_blank" title="GitHub">
				GitHub
			</a>
		</li>
		<li>
			<a href="mailto:me@jacksonmooring.com" target="_blank" title="Email">
				Email
			</a>
		</li>
		<li>
			<a href="https://www.blockchain.com/btc/address/17CYM9f8GscdLY51uvVA9mREtCHy7VwphL" target="_blank"
				title="Bitcoin">
				Bitcoin
			</a>
		</li>
		<p>
			&copy; Copywrite 2019. All Rights Reserved. Jackson Mooring
		</p>
	</ul>

</footer>